/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Jan-2019, 3:39:08 PM
    Author     : Rudy
*/

.check-box {
    /* default properties */
    selected-box-color: blue;
    box-color: lime;
    mark-color: white;
    -fx-font-size: 35;
    -fx-text-fill: #141414;
}

.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: selected-box-color;
}

.check-box > .box {
    /* background color of unselected checkbox */
    -fx-background-color: box-color;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: mark-color;
}