/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Jan-2019, 8:51:38 PM
    Author     : Rudy
*/

#decorations {
    -fx-pref-height: 33;
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-background-color : #212121;
}

#closeButton {
    -fx-image: url("/images/straight/close.png");
}

#closeButton:hover {
    -fx-image: url("/images/straight/closePressed.png");
}

#maximizeButton {
    -fx-image: url("/images/straight/fullscreen.png");
}
#maximizeButton:hover {
    -fx-image: url("/images/straight/fullscreenPressed.png");
}

#minimizeButton {
    -fx-image: url("/images/straight/minimize.png");
}
#minimizeButton:hover {
    -fx-image: url("/images/straight/minimizePressed.png");
}