/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Jan-2019, 7:08:45 PM
    Author     : Rudy
*/

@font-face {
    font-family: Product Sans;
    src: url('Product-Sans-Regular.ttf');
}

.text {
    -fx-font-family: 'Product Sans';
    -fx-font-size:30;
    -fx-fill: #141414;
}

.textSmall {
    -fx-font-family: 'Product Sans';
    -fx-font-size:15;
    -fx-fill: #141414;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /* 3:, 4: */
    -fx-background-color: #2196f3;
}