/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-Jan-2019, 9:30:24 PM
    Author     : Rudy
*/
#custom-slider .thumb {
    -fx-background-image :url("/images/handle.png");
    -fx-background-position: center center;
    -fx-background-color: white;

    -fx-padding: 50;

    -fx-pref-height: 48;
    -fx-pref-width: 96;
}

#custom-slider .track {
    -fx-background-color: #2F2F2F;
}
